<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <form action="/admin/login" method="post">
        Email: <input type="email" placeholder="enter email" name="email" required>
        Password: <input type="password" placeholder="enter password" name="pass" required>
        <button>Login</button>
    </form>

</body>
</html>