<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Manage Cover Image</title>
</head>
<body>

  <h2>Current Cover Image:</h2>
  <img src="<%= coverimage.image %>" alt="Cover Image" width="300">

  <h3>Edit Cover Image:</h3>
  <form action="/admin/edit-coverimage/<%= coverimage._id %>" enctype="multipart/form-data" method="post">
    <label>Change Image:</label>
    <input type="file" name="file" accept="image/*" required>
    <button type="submit">Upload</button>
  </form>

</body>
</html>
